.App {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

input[type=text] {
  font-size: 1.2em;
  padding: 0.4em;
  border: 1px solid gainsboro;
  border-radius: 4px;
  outline: none;
}

input[type=text]:focus {
  border-color: skyblue;
}

.suggestions {
  margin-top: 2em;
}

h2, h5 {
  margin: 0px;
}

h5 {
  opacity: 0.6;
}

ul {
  width: 800px;
}

* {
  box-sizing: border-box;
}
